.pencarian {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    text-align: center;
}

.hasilpencarian {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    text-align: center;
}