/* ===== CSS Header ===== */
@media screen and (min-width: 550px)  {.header {
    display: flex;
    flex-direction: column;
    background-image: url("../images/bg.png");
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar > img {
    margin-left: 100px;
    height: 50px;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    gap: 32px;
    margin-right: 100px;
}

.nav-menu > p {
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.hero-section {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.hero-section-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.title-hero {
    font-family: arial;
    font-size: 36px;
    font-weight: bold;
}

.title-desc {
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0px;
}

.hero-section-left > button {
    display: inline;
    width: 140px;
    height: 36px;
    background-color: #5cb85f;
    border-radius: 2px;
    border: none;
    color: white;
    cursor: pointer;
}

.cta-banner > button {
    background-image: url("../images/button_mulai_sewa.png");
    width: 140px;
    height: 36px;

    align-self: center;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* ===== CSS CTA Banner ===== */
.cta-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url("../images/bg_cta_banner.png");
    width: 1168px;
    height: 326px;
    margin-left: auto;
    margin-right: auto;
}

.cta-title {
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;

    text-align: center;
    color: white;
}

.cta-desc {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;

    text-align: center;
    line-height: 20px;
    color: white;
}

/*==ourservice =====*/
 .section-first {
    width: 100%;
    height: auto;
    display: inline-grid;
    justify-content: center;
    margin-top: 5rem;
}

.section-first-wrapper {
    width: 1027px;
    height: auto;
    background-color: #fff; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: Arial;
    gap: 86px;
}

.section-first-img>img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.section-first-title {
    /* border: 1px solid red; */
    height: 428px;
}

.section-first-title h2 {
    font-family: Arial;
    font-size: 24px;
    margin: 36px 0px 24px;
    line-height: 36px;
}

.section-first-title p {
    font-weight: 700;
    font-size: 14px;
    margin: 0px 0px 18px;
    line-height: 20px;
}

.section-first-title ul {
    padding: 0;
}

.section-first-title li {
    list-style-type: none;
    display: flex;
    gap: 16px;
    justify-items: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 15px;
}

.section-first-title span {
    width: 24px;
    height: 24px;
    background-color: #cfd4ed;
    border-radius: 200px;
    padding-top: 5px;
    text-align: center;
    box-sizing: border-box;
}
/* ====== WHY US ======= */

.section-second {
    width: 100%;
    height: auto;
    /* background-color: #666; */
    display: inline-grid;
    justify-content: center;
    margin-top: 5rem;
}

.section-second-wrapper {
    width: 1027px;
    height: auto;
    /* background-color: #fff; */
    grid-template-columns: repeat(2, 1fr);
    font-family: Arial;
    gap: 86px;
}

.section-second-wrapper h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0px 0px 16px;
}

.section-second-wrapper p {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
}

.section-second-grid {
    width: 100%;
    height: 196px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* background-color: violet; */
    gap: 24px;
    margin-top: 40px;
}

.section-second-card {
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    padding: 24px;
    box-sizing: border-box;
}

.section-second-card h3 {
    font-size: 16px;
    font-weight: 700;
}

/* ===== CSS Testimonial ===== */
.testimonial {
    display: flex;
    flex-direction: column;
}

.testimonial-title > p {
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;

    text-align: center;
}

.testimonial-desc > p {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;

    text-align: center;
    line-height: 20px;
}

.testimonial-list {
    display: flex;
    justify-content: center;
}

.testimonial_block_center {
    background-image: url("../images/testimony_background.png");
    border-radius: 20px;
    width: 615px;
    height: 270px;

    display: flex;
    justify-content: center;
    margin: auto 10px;
}

.testimonial_block_side {
    background-image: url("../images/testimony_background.png");
    border-radius: 20px;
    width: 615px;
    height: 270px;

    display: flex;
    justify-content: center;
    margin: auto 10px;
}

.testimonial-photo {
    margin: auto 20px;
}

.testimonial-content {
    margin: auto 20px;
}

.testimonial-message {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}

.testimonial-arrow {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.testimonial-arrow > button {
    margin: auto 10px;
}

@media screen and (max-width: 1100px) {
    .testimonial_block_side {
        display: none;
    }
}

/* ===== CSS FAQ ===== */
.faq {
    width: 100%;
    height: auto;
    /* background-color: #666; */
    display: inline-grid;
    justify-content: center;
    margin-top: 5rem;
}

.faq-wrap {
    display: grid;
    grid-template-columns: 1fr 35rem;
    margin: 0 auto;
    font-family: 'Arial';
    gap: 6rem;
}

.faq-title>h1 {
    margin: 0
}

.list-faq {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.faq-down-icon {
    position: relative;
    top: 14px;
    right: -10px;
    font-size: 16px;
}

.faq-item {
    border-radius: 4px;
    border: 1px solid #D4D4D4;
    padding-left: 24px;
    padding-right: 24px;
    height: auto;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.faq-item>h3 {
    font-size: 14px;
}

.faqq {
    font-size: 14px;
    font-weight: 700;
    width: auto;
}

.span {
    content: "\2193";
}

.footer {
    display: flex;
    justify-content: space-around;
    margin: auto;
    position: relative;
    top: 469px;
}

.footer-address > p {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}

.footer-navigation > p {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}

.footer-sosmed-title > p {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}

.footer-copyright > p {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}